h2{font-family: 'DM Serif Text', serif;}

.c-items{font-family: 'Philosopher', sans-serif;}

.x-items{font-family: 'Lora', serif;}

.y-items{font-family: 'Poppins', sans-serif;}

.gray-bg {
    background: #f7f7fd;
}
.mt-item{margin-top:100px ! important;margin-left:50px;}
.f-items{
    background: #1D2547;height:400px}
 .ft-items{margin-top:30px ! important;margin-left:10px}
 .s-items{font-family: 'DM Serif Text', serif;}
 .cp-items{margin-top:80px ! important}


